Repository TripSit/drugs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @utaninja, @zelixir25, @LunaUrsa

465465645
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
  drugs.json
Owners: @LunaUrsa, @utaninja, @zelixir25

sad
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asdasd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asdafasf
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asdasd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

54654
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asdasd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asdasd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

5456456465
  .github/workflows/validate.yml
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
  .github/workflows/validate.yml
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdasdads
  .github/workflows/validate.yml
Owners: @LunaUrsa

asdasd
  .github/workflows/validate.yml
Owners: @LunaUrsa

asdasd
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdasd
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdasdasd
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdasd
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdasdasd
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

asdafagsfsa
  .github/workflows/validate.yml
Owners: @LunaUrsa

test
  drug_files/a-pihp.json
  drug_files/test.json
Owners: none

Add design spec for splitting drugs.json into per-drug files
  docs/superpowers/specs/2026-05-23-split-drugs-json-design.md
Owners: none

docs: add large-file constraint to spec (no Read on drugs/combos.json)
  docs/superpowers/specs/2026-05-23-split-drugs-json-design.md
Owners: none

docs: add implementation plan for per-drug file split
  docs/superpowers/plans/2026-05-23-split-drugs-json.md
Owners: none

feat: add drug-schema.json for single drug validation
  schemas/drug-schema.json
Owners: @LunaUrsa

feat: add scripts/drugs.ts (validate + build drugs.json)
  drugs.json
  scripts/drugs.ts
  src/data/3-oh-phenazepam.json
Owners: @utaninja, @zelixir25, @LunaUrsa

feat: add scripts/combos.ts (validate + mirror combos.json)
  scripts/combos.ts
Owners: @LunaUrsa

test hook
  src/data/lsd.json
Owners: none

revert: restore lsd.json after hook test
  src/data/lsd.json
Owners: none

feat: add husky pre-commit hook + npm validate/build scripts
  .husky/pre-commit
  package-lock.json
  package.json
Owners: @LunaUrsa

ci: replace combosToDrugs CI step with drugs.ts + combos.ts + auto-commit
  .github/workflows/validate.yml
Owners: @LunaUrsa

chore: add trailing newline to combos.json
  combos.json
Owners: @utaninja, @zelixir25

docs: mark combosToDrugs.ts as reference-only
  scripts/combosToDrugs.ts
Owners: @LunaUrsa

docs: add setup instructions for husky pre-commit hook
  README.md
Owners: @LunaUrsa

chore: set core.hooksPath in prepare script and fix hook permissions
  package.json
Owners: @LunaUrsa

fix: add node types to tsconfig for console/process globals
  tsconfig.json
Owners: @LunaUrsa

chore: restore executable bit on pre-commit hook
  .husky/pre-commit
Owners: none

.github/CODEOWNERS:

combos.json @utaninja @zelixir25
drugs.json @utaninja @zelixir25
combo_definitions.json @utaninja @zelixir25
/.github/ @LunaUrsa
/.vscode/ @LunaUrsa
/schemas/ @LunaUrsa
/scripts/ @LunaUrsa
/translations @LunaUrsa
/types/ @LunaUrsa
.gitignore @LunaUrsa
package-lock.json @LunaUrsa
package.json @LunaUrsa
README.md @LunaUrsa
tsconfig.json @LunaUrsa
