Repository TripSit/drugs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @utaninja, @zelixir25, @LunaUrsa

Changed opiate to opioid
  combos.json
Owners: @utaninja, @zelixir25

small grammar edits and changing opiates to opioids
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Added a bracket and a comma
  combos.json
Owners: @utaninja, @zelixir25

Revert "4mmc + LSD"
  .vscode/settings.json
  combos.json
  drugs.json
Owners: @LunaUrsa, @utaninja, @zelixir25

Add a comma and a bracket for structure validity
  combos.json
Owners: @utaninja, @zelixir25

Add pregabalin to drugs schema and combos schema
  schemas/combos-schema.json
  schemas/drugs-schema.json
Owners: @LunaUrsa

Alphabetize and add some places i missed
  combos.json
  schemas/combos-schema.json
  schemas/drugs-schema.json
Owners: @utaninja, @zelixir25, @LunaUrsa

im really bad at json and git
  combos.json
  schemas/combos-schema.json
Owners: @utaninja, @zelixir25, @LunaUrsa

Mephedrone + MXE interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Update combos.json
  combos.json
Owners: @utaninja, @zelixir25

Lithium + MXE Interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Manually fix alphabetisation
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Make the compare script alphabetise
  scripts/combosToDrugs.ts
Owners: @LunaUrsa

Lithium + Dextromethorphan interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Lithium + Diphenhydramine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Resolve conflicts
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Ketamine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + SSRIs interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Cocaine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Update note
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Add extra sources
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Pregabalin + Cannabis interaction
  combos.json
  drugs.json
  schemas/combos-schema.json
  schemas/drugs-schema.json
Owners: @utaninja, @zelixir25, @LunaUrsa

Alcohol + Diphenhydramine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Amphetamines interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

GHB/GBL + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Fix note
  combos.json
Owners: @utaninja, @zelixir25

Update all notes
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Tramadol + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

DMT + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

fixing spelling error for caffeine
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

changed some of the wording for the read-me, added links, and adjusted the order. all in all some minor changes and a few new sections.
  README.md
Owners: @LunaUrsa

added spacing
  README.md
Owners: @LunaUrsa

DOx + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Use correct script
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Opioids + 4MMC/Mephedrone interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Pregabalin + Cannabis interaction
  combos.json
  drugs.json
  schemas/combos-schema.json
  schemas/drugs-schema.json
Owners: @utaninja, @zelixir25, @LunaUrsa

Diphenhydramine + Caffeine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Pregabalin + GHB/GBL interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Lithium + Ketamine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

.github/CODEOWNERS:

combos.json @utaninja @zelixir25
drugs.json @utaninja @zelixir25
combo_definitions.json @utaninja @zelixir25
/.github/ @LunaUrsa
/.vscode/ @LunaUrsa
/schemas/ @LunaUrsa
/scripts/ @LunaUrsa
/translations @LunaUrsa
/types/ @LunaUrsa
.gitignore @LunaUrsa
package-lock.json @LunaUrsa
package.json @LunaUrsa
README.md @LunaUrsa
tsconfig.json @LunaUrsa
