Repository TripSit/drugs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @utaninja, @zelixir25, @LunaUrsa

Add additional aliases for heroin
  drugs.json
Owners: @utaninja, @zelixir25

Revise drug alias changes
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + DXM interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + MXE interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

NBOMes + Diphenhydramine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

DOx + Diphenhydramine interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Opioids interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + MAOIs interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + DMT interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Psilocybin Mushrooms interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + LSD interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Tramadol interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Benzodiazepines interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Diphenhydramine + Mescaline interaction
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Update combos.json
  combos.json
Owners: @utaninja, @zelixir25

duplicating edits
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

further revisions for combinations
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

I've created a new branch due to new additions to the combos.json file and the other revisions branch currently being unable to display said new additions.
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

further revisions
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

further revisions
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

revisions
  combos.json
  drugs.json
Owners: @utaninja, @zelixir25

Revise drug names and restore interaction template
  README.md
Owners: @LunaUrsa

Added spacing to read-me
  README.md
Owners: @LunaUrsa

Added functionality to rebuild drugs.json from the individual files and the functionality to verify the individual files before doing so.
  .github/workflows/vailidateDrugsJSON.yml
  scripts/combineDrugsJson.ts
Owners: @LunaUrsa

Test functionality
  drug_files/adderall.json
  drugs.json
Owners: @utaninja, @zelixir25

Revert "Test functionality"
  drug_files/adderall.json
  drugs.json
Owners: @utaninja, @zelixir25

Fix path for drug_files in workflow configuration
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

gffdg
  drug_files/ab-fubinaca.json
  drug_files/adrafinil.json
Owners: none

zxczx
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

Revert "Revert "Test functionality""
  drug_files/adderall.json
  drugs.json
Owners: @utaninja, @zelixir25

ggf
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

sdfsdf
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asd
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

sad
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

asad
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

sdf
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

dsf
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

Revert "Revert "Revert "Test functionality"""
  drug_files/adderall.json
  drugs.json
Owners: @utaninja, @zelixir25

Revert "Revert "Revert "Revert "Test functionality""""
  drug_files/adderall.json
  drugs.json
Owners: @utaninja, @zelixir25

sssadassad
  .github/workflows/vailidateDrugsJSON.yml
Owners: @LunaUrsa

.github/CODEOWNERS:

combos.json @utaninja @zelixir25
drugs.json @utaninja @zelixir25
combo_definitions.json @utaninja @zelixir25
/.github/ @LunaUrsa
/.vscode/ @LunaUrsa
/schemas/ @LunaUrsa
/scripts/ @LunaUrsa
/translations @LunaUrsa
/types/ @LunaUrsa
.gitignore @LunaUrsa
package-lock.json @LunaUrsa
package.json @LunaUrsa
README.md @LunaUrsa
tsconfig.json @LunaUrsa
